@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap");

:root {
  --header-font: "Amatic SC", cursive;
  --text-font: "Zen Loop", cursive;
}

body {
  font-family: var(--text-font);
  font-size: x-large;
}

h1,
h2 {
  font-family: var(--header-font);
  font-size: xx-large;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#modal-wrapper {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.349);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#modal-close-button {
  cursor: pointer;
  width: 33px;
  height: 33px;
}

#modal-close-button:before, #modal-close-button:after {
  position: absolute;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: darkslategray;
}

#modal-close-button:before {
  transform: rotate(45deg);
}

#modal-close-button:after {
  transform: rotate(-45deg);
}

#modal-header {
  display: flex;
  justify-content: space-between;
  justify-self: stretch;
  width: 100%;
  margin-bottom: 1em;
}

#modal-content {
  width: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 60, 0, 0.596);
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: rgba(59, 4, 47, 0.315) 20px 20px 30px -10px;
  color: darkslategray;
}

#modal-image {
  max-height: 200px;
}

.timeline {
  position: relative;
  width: 50em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.timeline::before {
  content: "";
  background: rgba(255, 166, 0, 0.397);
  width: 5px;
  height: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  margin: 1em 0;
  width: 20em;
  padding: 1em;
  box-shadow: rgba(59, 4, 47, 0.315) 0px 20px 30px -10px;
}

.timeline-item:nth-child(even) {
  align-self: flex-end;
}

.timeline-circle {
  background: rgb(255, 94, 0);
  border-radius: 2em;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -65px;
  padding: 0.5em;
  color: white;
}

button {
  background: none;
  border: 2px solid darkgray;
  font-family: var(--text-font);
  font-size: x-large;
  cursor: pointer;
  display: block;
  width: 8em;
  height: 2em;
  margin: 0 auto;
}
